${esc.hash} Argument Types
#set($doublespace = ${esc.newLine}+${esc.newline})

The RAT help documentation lists a number of argument types.  This is the list of types and what they mean

#set($doublespace = ${newline}+${newline})
#foreach ($type in $ArgumentTypes)
    #set($desc = $markdown.escape($stringUtils.replace(${type.description.get}, ${esc.newline}, ${doublespace})))
    #set($desc = $stringUtils.replace($desc, ${tab}, " - "))
${esc.hash}${esc.hash} ${type.displayName}

${desc})

#end
