#set($header = "\##")
${esc.hash} Available Matchers

The RAT system implements a number of matchers that are used to define licences
Some matchers enclose data, generally text or other matchers.


#foreach ($matcher in $Matcher)
${esc.hash}${esc.hash} ${matcher.name}

${matcher.description}

#if ($matcher.enclosed)
 - Encloses one ${matcher.enclosed.collection}${matcher.enclosed.type} objects. ($matcher.enclosed.required)
#end
#if ($matcher.attributes)
 - **Attributes**
#foreach ($attribute in $matcher.attributes)
   - **${attribute.name}** (${attribute.required})
     - type: ${attribute.type}
     - ${attribute.description}
#end
#end
#end
