# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
# Remember that version range definitions depend on the build tool, thus for Maven:
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference#versions-ignore
# https://maven.apache.org/pom.html#Dependency_Version_Requirement_Specification
# RAT-478: as of 0.17 we run on JDK8 we must not update tika-core that runs on >= JDK11
      - dependency-name: "org.apache.tika:tika-core"
        versions: ["[3,)"]
# as we run on JDK8 we must not update mockito as it dropped JDK8 beginning from v4.x
      - dependency-name: "org.mockito:mockito-core"
        versions: ["[3,)"]
      - dependency-name: "com.github.spotbugs:spotbugs-maven-plugin"
        versions: ["[4.9,)"]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
