*.ipr
*.iws
/target/*
**/target/*
.svn
**/.svn
.project
*/.project
.classpath
*/.classpath
.settings
*/.settings
*.iml
*/*.iml
*/*.ipr
*/*.iws
.idea/*
*/.idea
/target/
# Eclipse generates new ignore files after project import
apache-rat-core/.gitignore
apache-rat-plugin/.gitignore
apache-rat-tasks/.gitignore
apache-rat/.gitignore
=======
**/.gitignore
