*.ipr
*.iws
/target/*
**/target/*
.svn
**/.svn
.project
*/.project
.classpath
*/.classpath
.settings
*/.settings
*.iml
*/*.iml
*/*.ipr
*/*.iws
.idea/*
*/.idea
/target/
**/.gitignore
**/lib/
**/bin
**/.mvn/.develocity*
**/src/site/apt/*.txt
src/site/apt/naming_help.txt
