~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~   Licensed to the Apache Software Foundation (ASF) under one or more
~~   contributor license agreements.  See the NOTICE file distributed with
~~   this work for additional information regarding copyright ownership.
~~   The ASF licenses this file to You under the Apache License, Version 2.0
~~   (the "License"); you may not use this file except in compliance with
~~   the License.  You may obtain a copy of the License at
~~
~~       http://www.apache.org/licenses/LICENSE-2.0
~~
~~   Unless required by applicable law or agreed to in writing, software
~~   distributed under the License is distributed on an "AS IS" BASIS,
~~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~   See the License for the specific language governing permissions and
~~   limitations under the License.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                -----
                The Report Task
                -----

Report Task

  The Report task is the heart of the Apache Rat Ant Task Library, it
  runs Rat on a given set of resources and generates the report.

  The task can work on any Ant
  {{{https://ant.apache.org/manual/Types/resources.html}resource or
  resource collection}} and the usual Ant selectors can be applied to
  restrict things even further.

  Reports can use Rat's internal XML or plain text format or be styled
  by a custom XSLT stylesheet.

  It is possible to define custom matchers for licenses not directly supported
  by Rat via nested elements to the Report task.

* Report Task Attributes

#include( "report_attributes.txt" )

* Report Task Nested Elements

#include( "report_elements.txt" )

* Argument Types

#include( "argument_types.txt" )

* Examples

  The files to be checked by Rat are specified as nested
  {{{https://ant.apache.org/manual/Types/resources.html} resource
  (collection)(s)}}, the most basic one would probably be a
  {{{https://ant.apache.org/manual/Types/fileset.html} fileset}}.

  For example the following would check all Java files in the
  <<<src>>> directory.

---
<rat:report>
    <fileset dir="src" includes="**/*.java"/>
</rat:report>
---
