#*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *#
/**
 * Generated test for ${testName}
 */
@Test
@InjectMojo(goal = "check")
@Basedir("${basedir}")
public void ${funcName}Test(RatCheckMojo mojo) throws MojoExecutionException {
    String baseDir = "${basedir}";
    when(mojo.project.getBuild()).thenReturn(mock());
    when(mojo.project.getBuild().getDirectory()).thenReturn(baseDir + "/target");
    TestData testData = testDataMap.get("${testName}");
    testData.setupFiles(Paths.get(baseDir));
    if (testData.getExpectedException() != null) {
        assertThatThrownBy(mojo::execute).hasMessageContaining(testData.getExpectedException().getMessage());
    } else {
        mojo.execute();
        ValidatorData validatorData = new ValidatorData(mojo.getOutput(), baseDir);
        testData.getValidator().accept(validatorData);
    }
}
