~~   Licensed to the Apache Software Foundation (ASF) under one or more
~~   contributor license agreements.  See the NOTICE file distributed with
~~   this work for additional information regarding copyright ownership.
~~   The ASF licenses this file to You under the Apache License, Version 2.0
~~   (the "License"); you may not use this file except in compliance with
~~   the License.  You may obtain a copy of the License at
~~  
~~        http://www.apache.org/licenses/LICENSE-2.0
~~  
~~   Unless required by applicable law or agreed to in writing, software
~~   distributed under the License is distributed on an "AS IS" BASIS,
~~   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~   See the License for the specific language governing permissions and
~~   limitations under the License.

 -----------------------
 Custom License Matchers
 -----------------------

Custom License Matchers

  Rat comes with a set of predefined license matchers, that can be used
  some typical licenses. However, they will not always be sufficient.
  In such cases, you may use a custom license matcher.

  The simplest way to create a license check is to create an XML file describing
  the new license and add it to the processing with the <<additionalLicenseFiles>
  option.  
  
  The second option is to define the custom license directly in the POM.
  Unlike earlier version no custom implementations are required to define
  custom licenses.
 

------------------------------------------------------------------
  /**
   * Yet Another Software License, 1.0
   *
   * Lots of text, specifying the users rights, and whatever ...
   */
------------------------------------------------------------------

  A very easy way to search for such headers would be to scan
  for the string "Yet Another Software License, 1.0". And here's
  how you would do that in your POM:

------------------------------------------------------------------
  <build>
    <plugins>
      ...
      <plugin>
        <groupId>org.apache.rat</groupId>
        <artifactId>apache-rat-plugin</artifactId>
        <version>${currentVersion}</version>
        <configuration>
          <licenses>
            <license>
              <family>YASL1</family>
              <notes></notes>
              <text>Yet Another Software License, 1.0</text>
            </license>
          </licenses>
          <families>
             <family>
               <id>YASL1</id>
               <name>Yet Another Software License</name>
             </family>
          </families>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
------------------------------------------------------------------

  This is very similar to the XML format for defining the configuration.


Approved License Families

  By default all POM defined licenses are considered approved, this is a 
  change from pre 0.16 versons.  If there are families that are defined in
  the pom but that should not be considered approved then a list of approved
  license families must be provided.

  To continue the example, to be explicit that the YASL1 license is approved
  add an approvedLicenses section listing the IDs for the approved licenses.

------------------------------------------------------------------
  <build>
    <plugins>
      ...
      <plugin>
        <groupId>org.apache.rat</groupId>
        <artifactId>apache-rat-plugin</artifactId>
        <version>${currentVersion}</version>
        <configuration>
          <licenses>
            <license>
              <family>YASL1</family>
              <notes></notes>
              <text>Yet Another Software License, 1.0</text>
            </license>
          </licenses>
          <families>
             <family>
               <id>YASL1</id>
               <name>Yet Another Software License</name>
             </family>
          </families>
          <approvedLicenses>
            <id>YASL1</id>
          </approvedLicenses>
        </configuration>
      </plugin>
      ...
    </plugins>
  </build>
------------------------------------------------------------------



